<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- no more baidu ads -->
    <title>帝隆P2P</title>
    <link rel="stylesheet" href="../public/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/odometer/odometer.css">
    <link rel="stylesheet" href="../stylesheets/common.css">
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>
<script src="../public/jquery/dist/jquery.min.js"></script>
<script src="../public/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="../public/iscroll/build/iscroll-lite.js"></script>-->
<script src="../public/odometer/odometer.js"></script>
<!--<script src="../scripts/common.js"></script>-->
<script type="text/jsx" src="../scripts/index.jsx"></script>
</body>
</html>